body {
    margin: 0;
    font-size: 20px;
}

/* HEADER  */
.header {
    background-color: darkseagreen;
    padding: 30px;
    color: white;
    text-align: center;
}

#header-img {
    width: 70%;
    border-radius: 50%;
}

/* NAVBAR */
#navbar {
    background-color: darkseagreen;
    overflow: hidden;
    border: 1px solid whitesmoke;
}

#navbar a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 20px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: white;
    color: darkseagreen;
}

.navbar-fixed {
    position: fixed;
    top: 0px;
}

.about-me {
    padding: 30px 0;
    text-align: justify;
}

.total-project, .total-student {
    padding-top: 15px;
    text-align: center;
    border: 1px solid rgb(147, 233, 147);
    border-radius: 10px;
    background-color: rgb(147, 233, 147);
}

.progress-bar {
    background-color: rgb(147, 233, 147);
    border-radius: 10px;
    color: black;
}

.project {
    border: 1px solid rgb(210, 233, 147);
    border-radius: 15px;
    background-color: rgb(210, 233, 147);
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
}

.project a {
    text-decoration: none;
    color: black;
}

.latest-post a {
    text-decoration: none;
    color: black;
}

.latest-post img  {
    width: 100%;
    border-radius: 10px;
    height: 190px;
}

.latest-post p {
    text-align: justify;
}

.footer {
    background-color: darkseagreen;
    padding: 10px;
    text-align: justify;
    color: white;
}

.accounts a {
    color: white;
    text-decoration: none;
}

.blog {
    padding-top: 40px;
    padding-bottom: 40px;
}

.blog img {
    width: 100%;
    border-radius: 15px;
}

.blog p {
    text-align: justify;
}

.blog button {
    background-color: darkcyan; 
    color: white;
}

.blog button:hover {
    background-color: darkseagreen;
    color: white;
}

.sidebar {
    padding-top: 40px;
}

.sidebar button {
    background-color: darkcyan;
    color: white;
    border-radius: 0 10px 10px 0;
}

.sidebar button:hover {
    background-color: darkseagreen;
}

.sidebar input[type='text'] {
    border-radius: 10px;
}

